<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script> -->
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/xlsx.full.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="app-container" style="background-image: url('./img/bg.jpg');">
        <!-- 首页 -->
        <div class="home" v-if="showHome">
          <!-- <input ref="uploadRef" id="upload" type="file" accept=".xls,.xlsx" /> -->
          <img class="title" src="./img/title.png" alt="" />
          <img class="text" src="./img/text.png" alt="" />
          <div class="play flex f-center animated bounceIn" @click="handlePlay">
            <img src="./img/play.png" alt="" />
          </div>
        </div>
        <!-- 开始答题 -->
        <div class="question-wraper" v-else>
          <img class="panel" src="./img/panel.png" alt="" />
          <div class="content">
            <div class="title">第 {{numberObj[successActive]}} 题</div>
            <div class="select">
              <p>{{questionList[questionActive].title}}</p>
              <ul>
                <li
                  v-for="(item,index) in options"
                  :key="index"
                  @click="handleSelect(questionList[questionActive].answer == item)"
                >
                  {{item}}:<span>{{questionList[questionActive][item]}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="popup" v-if="isAnswer > -1">
            <!-- 失败 -->
            <div class="fail" v-if="isAnswer === 0" @click="handlePopup('fail')">
              <img src="./img/fail.png" alt="" />
            </div>
            <!-- 成功 -->
            <div
              class="success"
              v-if="isAnswer === 1"
              @click="handlePopup('success')"
            >
              <img src="./img/success.png" alt="" />
            </div>
          </div>
          <!-- 音频 -->
          <audio
            id="successAudio"
            src="./music/success.mp3"
            hidden="true"
          ></audio>
          <audio id="failAudio" src="./music/fail.mp3" hidden="true"></audio>
        </div>
        <!-- 龙 -->
        <img
          :class="'long animated ' + (showHome ? 'slideInUp' :'slideOutDown')"
          src="./img/long.png"
          alt=""
        />
      </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        showHome: true,
        isAnswer: -1, // 1成功，0失败
        options: {
          0: "A",
          1: "B",
          2: "C",
          3: "D",
        },
        numberObj: {
          0: "一",
          1: "二",
          2: "三",
          3: "四",
          4: "五",
          5: "六",
          6: "七",
          7: "八",
          8: "九",
          9: "十",
          10: "十一",
          11: "十二",
          12: "十三",
          13: "十四",
          14: "十五",
          15: "十六",
          16: "十七",
          17: "十八",
          18: "十九",
          19: "二十",
        },
        questionActive: 0, //题库中第几题
        successActive: 0, //答对的数量
        questionList: [],
      },
      methods: {
        getExcelFile(e) {
          let fileList = event.target.files
          let reader = new FileReader();
          let file = fileList[0]; //拿到第一条数据
          reader.readAsBinaryString(file); // 将文件以二进制形式读入页面
          // wb:wordbook 工作表
          reader.addEventListener("load", (e) => {
            var data = e.target.result;
            var wb = XLSX.read(data, { type: 'binary' });  //以base64方法读取 结果
            let sheetName = wb.SheetNames[0] //是获取Sheets中第一个Sheet的名字
            let sheets = wb.Sheets[sheetName] //wb.Sheets[Sheet名]获取第一个Sheet的数据
            // //将数据解析为json字符串
            this.questionList = XLSX.utils.sheet_to_json(sheets)
          });
        },
        handlePlay() {
          this.showHome = false;
        },
        // 点击题目选项
        handleSelect(val) {
          this.isAnswer = val ? 1 : 0;
          var audio = document.getElementById(
            val ? "successAudio" : "failAudio"
          );
          audio.play();
        },
        // 点击弹窗
        handlePopup(type) {
          switch (type) {
            case "success":
              this.questionActive += 1;
              this.successActive += 1;
              this.isAnswer = -1;
              break;
            case "fail":
              this.showHome = true;
              this.questionActive += 1;
              this.successActive = 0;
              this.isAnswer = -1;
              break;
            default:
              break;
          }
        },
      },
      mounted() {
        // const uploadRef = this.$refs.uploadRef
        // uploadRef.addEventListener("change", (e) => {
        //   this.getExcelFile(e);
        // });
        axios
          .get("/xlsx/题库.xls", { responseType: "arraybuffer" })
          .then((res) => {
            const data = new Uint8Array(res.data);
            const workbook = XLSX.read(data, { type: "array" });
            const { Sheet1 } = workbook.Sheets; // 获取文档数据
            debugger
            this.questionList = XLSX.utils.sheet_to_json(Sheet1);
          })
          .catch((err) => {
            alert(err);
          });
      },
    });
  </script>
</html>
