.app-container {
    height: 100vh;
    position: relative;
    background: url('../img/bg.jpg') no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.long {
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 0px;
}
.home {
    .title {
        width: 50%;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
    }


    .text {
        width: 30%;
        position: absolute;
        left: 8%;
        bottom: 25%;
    }

    .play {
        width: 20%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-iteration-count: infinite;
        margin-left: -10%;

        img {
            width: 100%;
        }
    }
}

.question-wraper {
    .panel {
        width: 78%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content {
        .title {
            width: 78%;
            text-align: center;
            position: absolute;
            top: 13%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 50px;
            font-weight: 700;
            color: #fff;
        }

        .select {
            width: 60%;
            height: 50%;
            position: absolute;
            left: 20%;
            top: 26%;

            p {
                width: 100%;
                height: 25%;
                font-size: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ul {
                margin-top: 6%;
                height: 80%;

                li {
                    height: 17%;
                    font-size: 55px;
                    margin-bottom: 4%;
                    display: flex;
                    align-items: center;
                    color: #ea4f1d;

                    span {
                        font-size: 40px;
                        padding-left: 3%;
                        margin-left: 2%;
                        height: 100%;
                        flex: 1;
                        background-image: linear-gradient(to right, #ea4f1d, #fff);
                        color: #fff;
                        display: flex;
                        align-items: center;
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                    }
                }
            }
        }
    }

    .popup {
        background: rgba(0, 0, 0, .7);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
            width: 100%;
        }

        .fail, .success {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}